Repository suneel944/ATAS: changes, and which pre-commit hooks are due for each by the changed paths.
All: maven-compile, maven-test

maven-compile:
  name: Maven Compile
  entry: ./mvnw
  args:
  - clean
  - compile
  - -q
  language: system
  pass_filenames: false

maven-test:
  name: Maven Test
  entry: ./mvnw
  args:
  - test
  - -q
  language: system
  pass_filenames: false
  stages:
  - pre-push

feat(tests): improve test infrastructure and utilities
  atas-framework/src/main/java/com/atas/framework/execution/DetailedTestResultService.java
  atas-framework/src/main/java/com/atas/framework/execution/TestInputValidator.java
  atas-framework/src/main/java/com/atas/framework/execution/dto/DetailedTestResultDto.java
  atas-framework/src/main/java/com/atas/framework/model/TestAssertion.java
  atas-framework/src/main/java/com/atas/framework/repository/TestAssertionRepository.java
  atas-tests/src/test/java/com/atas/shared/api/ApiRequestHelper.java
  atas-tests/src/test/java/com/atas/shared/api/FluentApiRequest.java
  atas-tests/src/test/java/com/atas/shared/api/FrameworkApiRequestContextHelper.java
  atas-tests/src/test/java/com/atas/shared/assertions/CommonAssertions.java
  atas-tests/src/test/java/com/atas/shared/auth/BrowserHelper.java
  atas-tests/src/test/java/com/atas/shared/auth/InternalApiTokenHelper.java
  atas-tests/src/test/java/com/atas/shared/email/GuerrillaMailHelper.java
  atas-tests/src/test/java/com/atas/shared/testing/ApiTestHooks.java
  atas-tests/src/test/java/com/atas/shared/testing/TestTags.java
  atas-tests/src/test/java/com/atas/shared/testing/UiTestHooks.java
  atas-tests/src/test/java/com/atas/shared/utility/BaseUrlResolver.java
  atas-tests/src/test/java/com/atas/shared/utility/FakerUtils.java
  atas-tests/src/test/java/com/atas/shared/utility/TestDataUtility.java
  atas-tests/src/test/java/com/atas/shared/utility/TestUtils.java
  atas-tests/src/test/java/com/atas/shared/utils/TestUtils.java
  atas-tests/src/test/resources/test-config.properties
Due: maven-compile, maven-test

feat(config): add configuration improvements and exception handling
  atas-framework/src/main/java/com/atas/framework/config/CacheConfig.java
  atas-framework/src/main/java/com/atas/framework/config/EnvFileLoader.java
  atas-framework/src/main/java/com/atas/framework/config/ExecutorConfig.java
  atas-framework/src/main/java/com/atas/framework/config/MonitoringConfig.java
  atas-framework/src/main/java/com/atas/framework/exception/ErrorResponse.java
  atas-framework/src/main/java/com/atas/framework/exception/GlobalExceptionHandler.java
Due: maven-compile, maven-test

feat(monitoring): enhance monitoring dashboard and real-time updates
  atas-framework/src/main/java/com/atas/framework/monitoring/RedisSseService.java
  atas-framework/src/main/java/com/atas/framework/web/MonitoringDashboardController.java
  atas-framework/src/main/resources/static/css/style.css
  atas-framework/src/main/resources/static/js/components/charts.js
  atas-framework/src/main/resources/static/js/components/polling.js
  atas-framework/src/main/resources/static/js/components/spotlight.js
  atas-framework/src/main/resources/static/js/config.js
  atas-framework/src/main/resources/static/js/core/api.js
  atas-framework/src/main/resources/static/js/core/auth.js
  atas-framework/src/main/resources/static/js/core/state.js
  atas-framework/src/main/resources/static/js/utils/dom.js
  atas-framework/src/main/resources/static/js/utils/json-viewer.js
  atas-framework/src/main/resources/static/js/utils/virtual-scroll.js
  atas-framework/src/main/resources/templates/database-management.html
  atas-framework/src/main/resources/templates/monitoring-dashboard.html
Due: maven-compile, maven-test

feat(framework): update core framework services and models
  atas-framework/src/main/java/com/atas/framework/core/driver/DriverFactory.java
  atas-framework/src/main/java/com/atas/framework/core/driver/PlaywrightDriverFactory.java
  atas-framework/src/main/java/com/atas/framework/core/playwright/PlaywrightController.java
  atas-framework/src/main/java/com/atas/framework/core/playwright/PlaywrightService.java
  atas-framework/src/main/java/com/atas/framework/execution/TestDiscoveryService.java
  atas-framework/src/main/java/com/atas/framework/execution/TestExecutionService.java
  atas-framework/src/main/java/com/atas/framework/model/TestAttachment.java
  atas-framework/src/main/java/com/atas/framework/model/TestExecution.java
  atas-framework/src/main/java/com/atas/framework/model/TestResult.java
  atas-framework/src/main/java/com/atas/framework/model/TestStatus.java
  atas-framework/src/main/java/com/atas/framework/model/TestStep.java
Due: maven-compile, maven-test

feat(docker): improve Docker configuration and CI/CD workflows
  .github/workflows/README.md
  .github/workflows/_common-setup.yml
  .github/workflows/build-and-push.yml
  .github/workflows/commit-lint.yml
  .github/workflows/pr-checks.yml
  .github/workflows/release.yml
  .github/workflows/test-layers.yml
  .github/workflows/test-suites.yml
  docker/Dockerfile
  docker/Dockerfile.prod
  docker/docker-compose-local-db.yml
  docker/docker-compose-system-db.yml
  docker/docker-compose.prod.yml
  docker/fix-docker-ipv4.sh
  k8s/MAKEFILE_GUIDE.md
  k8s/README.md
  k8s/VISUALIZATION.md
  k8s/configmap.yaml
  k8s/database.yaml
  k8s/deployment.yaml
  k8s/hpa.yaml
  k8s/ingress.yaml
  k8s/metrics-server.yaml
  k8s/namespace.yaml
  k8s/redis.yaml
  k8s/secrets.yaml
  k8s/service-local.yaml
  k8s/service.yaml
  k8s/setup-local-cluster.sh
  k8s/test-deployment.sh
  k8s/test-local.sh
Due: none

feat(docker): improve Docker configuration and CI/CD workflows
  .github/workflows/README.md
  .github/workflows/_common-setup.yml
  .github/workflows/build-and-push.yml
  .github/workflows/commit-lint.yml
  .github/workflows/pr-checks.yml
  .github/workflows/release.yml
  .github/workflows/test-layers.yml
  .github/workflows/test-suites.yml
  docker/Dockerfile
  docker/Dockerfile.prod
  docker/docker-compose-local-db.yml
  docker/docker-compose-system-db.yml
  docker/docker-compose.prod.yml
  docker/fix-docker-ipv4.sh
Due: none

feat(docker): improve Docker configuration and CI/CD workflows
  .github/workflows/README.md
  .github/workflows/_common-setup.yml
  .github/workflows/build-and-push.yml
  .github/workflows/commit-lint.yml
  .github/workflows/pr-checks.yml
  .github/workflows/release.yml
  .github/workflows/test-layers.yml
  .github/workflows/test-suites.yml
  docker/Dockerfile
  docker/Dockerfile.prod
  docker/docker-compose-local-db.yml
  docker/docker-compose-system-db.yml
  docker/docker-compose.prod.yml
  docker/fix-docker-ipv4.sh
  k8s/MAKEFILE_GUIDE.md
  k8s/README.md
  k8s/VISUALIZATION.md
  k8s/configmap.yaml
  k8s/database.yaml
  k8s/deployment.yaml
  k8s/hpa.yaml
  k8s/ingress.yaml
  k8s/metrics-server.yaml
  k8s/namespace.yaml
  k8s/redis.yaml
  k8s/service-local.yaml
  k8s/service.yaml
  k8s/setup-local-cluster.sh
  k8s/test-deployment.sh
  k8s/test-local.sh
Due: none

feat(tests): update test files and page objects
  atas-tests/pom.xml
  atas-tests/src/test/java/com/atas/products/automationexercise/features/api_reference/api/StatusCodesAndSchemaValidationTest.java
  atas-tests/src/test/java/com/atas/products/automationexercise/features/cart_checkout_and_payment/api/AddItemToCartApiTest.java
  atas-tests/src/test/java/com/atas/products/automationexercise/features/cart_checkout_and_payment/api/CreateOrderApiTest.java
  atas-tests/src/test/java/com/atas/products/automationexercise/features/cart_checkout_and_payment/api/GetCartContentsApiTest.java
  atas-tests/src/test/java/com/atas/products/automationexercise/features/cart_checkout_and_payment/api/PaymentSubmissionApiTest.java
  atas-tests/src/test/java/com/atas/products/automationexercise/features/contact_and_support/api/SendContactMessageApiTest.java
  atas-tests/src/test/java/com/atas/products/automationexercise/features/landing_and_navigation/api/SiteHealthApiTest.java
  atas-tests/src/test/java/com/atas/products/automationexercise/features/product_catalog_and_filters/api/ListProductsApiTest.java
  atas-tests/src/test/java/com/atas/products/automationexercise/features/product_catalog_and_filters/ui/ViewAllProductsTest.java
  atas-tests/src/test/java/com/atas/products/automationexercise/features/testcases_reference/api/TestCasesMetadataApiExposureTest.java
  atas-tests/src/test/java/com/atas/products/automationexercise/features/user_auth_and_account/api/DeleteUserApiTest.java
  atas-tests/src/test/java/com/atas/products/automationexercise/features/user_auth_and_account/api/LoginUserApiTest.java
  atas-tests/src/test/java/com/atas/products/automationexercise/features/user_auth_and_account/api/RegisterUserApiTest.java
  atas-tests/src/test/java/com/atas/products/automationexercise/pages/ApiListPage.java
  atas-tests/src/test/java/com/atas/products/automationexercise/pages/CartPage.java
  atas-tests/src/test/java/com/atas/products/automationexercise/pages/CheckoutPage.java
  atas-tests/src/test/java/com/atas/products/automationexercise/pages/ContactPage.java
  atas-tests/src/test/java/com/atas/products/automationexercise/pages/HomePage.java
  atas-tests/src/test/java/com/atas/products/automationexercise/pages/LoginPage.java
  atas-tests/src/test/java/com/atas/products/automationexercise/pages/PaymentPage.java
  atas-tests/src/test/java/com/atas/products/automationexercise/pages/ProductsPage.java
  atas-tests/src/test/java/com/atas/products/automationexercise/pages/TestCasesPage.java
Due: maven-compile, maven-test

docs: update documentation and project files
  LICENSE
  Makefile
  README.md
  docs/images/atas_logo.svg
  pom.xml
Due: maven-compile

docs: update framework documentation for authentication and recent changes
  README.md
  atas-tests/src/test/java/com/atas/config/TestConfiguration.java
  docs/API_REFERENCE.md
  docs/ENVIRONMENT_CONFIGURATION.md
  docs/GETTING_STARTED.md
  docs/TEST_EXECUTION_GUIDE.md
Due: maven-compile, maven-test

docs(api): add all missing API endpoints to documentation
  docs/API_REFERENCE.md
Due: none

fix(tests): fix test failures in CI
  atas-framework/src/test/java/com/atas/framework/execution/TestExecutionServiceTest.java
  atas-framework/src/test/resources/application-unit-test.yml
Due: maven-compile, maven-test

fix(tests): add missing mocks, schema.sql, and fix locator issues
  .env.example
  atas-framework/src/main/java/com/atas/framework/core/playwright/PlaywrightController.java
  atas-framework/src/main/java/com/atas/framework/core/playwright/PlaywrightService.java
  atas-framework/src/main/java/com/atas/framework/execution/DetailedTestResultService.java
  atas-framework/src/test/java/com/atas/framework/execution/TestExecutionServiceTest.java
  atas-framework/src/test/resources/application-unit-test.yml
  atas-framework/src/test/resources/schema.sql
  atas-tests/src/test/java/com/atas/products/automationexercise/features/cart_checkout_and_payment/api/GetCartContentsApiTest.java
  atas-tests/src/test/java/com/atas/products/automationexercise/features/user_auth_and_account/api/LoginUserApiTest.java
  atas-tests/src/test/java/com/atas/products/automationexercise/pages/ApiListPage.java
  atas-tests/src/test/java/com/atas/products/automationexercise/pages/CartPage.java
  atas-tests/src/test/java/com/atas/products/automationexercise/pages/CheckoutPage.java
  atas-tests/src/test/java/com/atas/products/automationexercise/pages/ContactPage.java
  atas-tests/src/test/java/com/atas/products/automationexercise/pages/HomePage.java
  atas-tests/src/test/java/com/atas/products/automationexercise/pages/PaymentPage.java
  atas-tests/src/test/java/com/atas/products/automationexercise/pages/ProductsPage.java
  atas-tests/src/test/java/com/atas/products/automationexercise/pages/TestCasesPage.java
  atas-tests/src/test/java/com/atas/shared/api/FrameworkApiRequestContextHelper.java
  atas-tests/src/test/java/com/atas/shared/auth/InternalApiTokenHelper.java
  atas-tests/src/test/java/com/atas/shared/email/GuerrillaMailHelper.java
  atas-tests/src/test/java/com/atas/shared/testing/ApiTestHooks.java
  atas-tests/src/test/java/com/atas/shared/utility/TestUtils.java
Due: maven-compile, maven-test

refactor(k8s): cleanup unused configuration
  k8s/MAKEFILE_GUIDE.md
  k8s/README.md
  k8s/VISUALIZATION.md
  k8s/configmap.yaml
  k8s/database.yaml
  k8s/deployment.yaml
  k8s/hpa.yaml
  k8s/ingress.yaml
  k8s/metrics-server.yaml
  k8s/namespace.yaml
  k8s/redis.yaml
  k8s/secrets.yaml.example
  k8s/service-local.yaml
  k8s/service.yaml
  k8s/setup-local-cluster.sh
  k8s/test-deployment.sh
  k8s/test-local.sh
Due: none

Path conditions:
  maven-compile: any of: \.(java|xml)$
  maven-test: any of: \.java$
