Repository suneel944/ATAS: changes, and which pre-commit hooks are due for each by the changed paths.
All: maven-compile, maven-test

maven-compile:
  name: Maven Compile
  entry: ./mvnw
  args:
  - clean
  - compile
  - -q
  language: system
  pass_filenames: false

maven-test:
  name: Maven Test
  entry: ./mvnw
  args:
  - test
  - -q
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(ci): correct JDK distribution from eclipse-temurin to temurin
  .github/workflows/_common-setup.yml
  .github/workflows/build-and-push.yml
Due: none

fix(ci): update JDK distribution in remaining workflow files
  .github/workflows/_test-matrix.yml
  .github/workflows/pr-checks.yml
  .github/workflows/release.yml
Due: none

feat(framework): add exec-maven-plugin for Playwright browser installation
  atas-framework/pom.xml
Due: maven-compile

fix(ci): resolve Maven dependency resolution and build order issues
  .github/workflows/pr-checks.yml
Due: none

fix(ci): resolve Docker repository name case sensitivity issue
  .github/workflows/build-and-push.yml
  .github/workflows/release.yml
Due: none

feat(ci): remove expensive docker-build-test from PR checks
  .github/workflows/pr-checks.yml
Due: none

fix(build): resolve test compilation issues in multi-module Maven project
  atas-framework/pom.xml
  atas-tests/pom.xml
Due: maven-compile

fix: resolve test execution failures in GitHub Actions
  .github/workflows/_test-matrix.yml
  atas-tests/src/test/java/com/atas/features/authentication/ui/LoginUiTest.java
  atas-tests/src/test/java/com/atas/features/authentication/ui/LoginValidationUiTest.java
  atas-tests/src/test/java/com/atas/features/monitoring/ui/MonitoringDashboardUiTest.java
Due: maven-compile, maven-test

fix: resolve GitHub Actions workflow failures
  .github/workflows/_test-matrix.yml
Due: none

feat: add monitoring dashboard web UI
  atas-framework/pom.xml
  atas-framework/src/main/java/com/atas/framework/web/MonitoringDashboardController.java
  atas-framework/src/main/resources/templates/monitoring-dashboard.html
Due: maven-compile, maven-test

fix: resolve all UI test failures with proper element waiting
  atas-tests/src/test/java/com/atas/features/monitoring/ui/MonitoringDashboardUiTest.java
Due: maven-compile, maven-test

fix: resolve Maven dependency resolution issue in GitHub Actions
  .github/workflows/_test-matrix.yml
Due: none

fix: resolve GitHub Actions PR commenting permissions issue
  .github/workflows/test-suites.yml
Due: none

fix: resolve SyntaxError in GitHub Actions script
  .github/workflows/test-suites.yml
Due: none

feat(api): implement comprehensive test execution and discovery APIs
  README.md
  TEST_STRUCTURE.md
  atas-framework/pom.xml
  atas-framework/src/main/java/com/atas/framework/execution/TestDiscoveryService.java
  atas-framework/src/main/java/com/atas/framework/execution/TestExecutionController.java
  atas-framework/src/main/java/com/atas/framework/execution/TestExecutionService.java
  atas-framework/src/main/java/com/atas/framework/execution/dto/TestDiscoveryResponse.java
  atas-framework/src/main/java/com/atas/framework/execution/dto/TestExecutionRequest.java
  atas-framework/src/main/java/com/atas/framework/execution/dto/TestExecutionResponse.java
  atas-framework/src/main/resources/application.yml
  docs/API_REFERENCE.md
  docs/INDEX.md
  docs/README.md
  docs/TEST_EXECUTION_GUIDE.md
Due: maven-compile, maven-test

fix: resolve compilation failure in atas-tests module
  atas-tests/pom.xml
Due: maven-compile

fix: resolve compilation errors in atas-tests module
  atas-framework/pom.xml
  atas-framework/src/main/java/com/atas/framework/storage/S3StorageService.java
Due: maven-compile, maven-test

feat: enhance Makefile with granular test commands
  Makefile
Due: none

fix: improve dependency management and PostgreSQL configuration
  atas-framework/pom.xml
  atas-tests/pom.xml
  pom.xml
Due: maven-compile

feat: add comprehensive test infrastructure
  atas-framework/src/test/java/com/atas/framework/execution/TestExecutionServiceTest.java
  atas-framework/src/test/java/com/atas/framework/integration/DatabaseIntegrationTest.java
  atas-framework/src/test/java/com/atas/framework/integration/VersionConsistencyTest.java
  atas-framework/src/test/java/com/atas/framework/model/TestExecutionTest.java
  atas-framework/src/test/java/com/atas/framework/repository/TestExecutionRepositoryTest.java
  atas-framework/src/test/java/com/atas/framework/repository/TestResultRepositoryTest.java
  atas-framework/src/test/resources/application-integration-test.yml
  atas-framework/src/test/resources/application-unit-test.yml
  atas-tests/src/test/java/com/atas/production/TestExecutionProductionTest.java
Due: maven-compile, maven-test

feat: add database monitoring and management features
  atas-framework/src/main/java/com/atas/framework/config/WebConfig.java
  atas-framework/src/main/java/com/atas/framework/monitoring/DatabaseHealthService.java
  atas-framework/src/main/java/com/atas/framework/monitoring/DatabaseManagementController.java
  atas-framework/src/main/java/com/atas/framework/monitoring/QueryPerformanceInterceptor.java
  atas-framework/src/main/resources/templates/database-management.html
Due: maven-compile, maven-test

refactor: enhance existing monitoring components
  atas-framework/src/main/java/com/atas/framework/monitoring/TestMonitoringController.java
  atas-framework/src/main/java/com/atas/framework/monitoring/TestMonitoringService.java
  atas-framework/src/main/java/com/atas/framework/web/MonitoringDashboardController.java
  atas-framework/src/main/resources/templates/monitoring-dashboard.html
Due: maven-compile, maven-test

ci: update GitHub workflows to use new Makefile commands
  .github/workflows/README.md
  .github/workflows/_test-matrix.yml
  .github/workflows/pr-checks.yml
  .github/workflows/test-layers.yml
Due: none

docs: update documentation with new test commands and structure
  README.md
  docs/README.md
  docs/TEST_EXECUTION_GUIDE.md
Due: none

refactor: clean up old test structure and improve Docker configuration
  atas-tests/src/test/java/com/atas/features/authentication/api/LoginApiTest.java
  atas-tests/src/test/java/com/atas/features/authentication/config/AuthenticationTestConfig.java
  atas-tests/src/test/java/com/atas/features/authentication/data/LoginTestData.java
  atas-tests/src/test/java/com/atas/features/authentication/pages/DashboardPage.java
  atas-tests/src/test/java/com/atas/features/authentication/pages/LoginPage.java
  atas-tests/src/test/java/com/atas/features/authentication/ui/LoginUiTest.java
  atas-tests/src/test/java/com/atas/features/authentication/ui/LoginValidationUiTest.java
  atas-tests/src/test/java/com/atas/features/monitoring/api/TestExecutionStatusApiTest.java
  atas-tests/src/test/java/com/atas/features/monitoring/api/TestMonitoringApiTest.java
  atas-tests/src/test/java/com/atas/features/monitoring/config/MonitoringTestConfig.java
  atas-tests/src/test/java/com/atas/features/monitoring/data/MonitoringTestData.java
  atas-tests/src/test/java/com/atas/features/monitoring/ui/MonitoringDashboardUiTest.java
  atas-tests/src/test/java/com/atas/suites/AllTestSuites.java
  atas-tests/src/test/java/com/atas/suites/authentication/api/AuthenticationApiTestSuite.java
  atas-tests/src/test/java/com/atas/suites/authentication/ui/AuthenticationUiTestSuite.java
  atas-tests/src/test/java/com/atas/suites/monitoring/api/MonitoringApiTestSuite.java
  atas-tests/src/test/java/com/atas/suites/monitoring/ui/MonitoringUiTestSuite.java
  atas-tests/src/test/resources/application-test.yml
  docker/Dockerfile
Due: maven-compile, maven-test

fix: install framework module before running tests in workflows
  .github/workflows/_test-matrix.yml
  .github/workflows/pr-checks.yml
  .github/workflows/test-layers.yml
Due: none

fix: resolve GitHub Actions workflow issues
  .github/workflows/pr-checks.yml
  .github/workflows/test-layers.yml
Due: none

Path conditions:
  maven-compile: any of: \.(java|xml)$
  maven-test: any of: \.java$
